@use "../../../theme/abstract/index" as *;
@use "../../../theme/mixins/mixins" as *;
.testimonials_section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-top: 20px;
  .testimonials_title {
    margin-top: 10px;
    font-size: 3em;
  }
  .testimonials_card {
    p {
      font-size: 1em;
    }
  }
}
