@use "../../../theme/abstract/index" as *;

.hero_section {
  min-height: max-content;
  padding-bottom: 3rem;
  .hero_title {
    font-size: 5em;
    line-height: normal;
  }
  p {
    max-width: 480px;
  }
}
@media (width < 467px) {
  .hero_section {
    .hero_title {
      font-size: 3em;
    }
    p {
      max-width: 480px;
    }
  }
}
